@import "/src/styles/variables";

/* CONTAINER */
.likedPostsCellContainer {
  width: 100%;
  height: 100%;
}

/* HEADER */
.likedPostsCellHeader {
  width: 100%;
  height: 3vh;
}

.likedPostsCellAccountDetails {
  display: flex;
  flex-direction: row;
  gap: 5%;
  padding-top: 2%;
  padding-left: 3%;
  padding-bottom: 3%;
}

.likedPostsCellAccountUsername {
  padding-top: 1%;
  font-size: 1.5vh;
  font-family: $defaultFontFamily;
}

.likedPostsCellBody {
  position: relative;
  display: flex;
  flex-direction: row;
  width: auto;
  margin: 5%;
  margin-top: 7%;
}

.likedPostsCellPostImage {
  width: 25%;
  height: 25%;
}

.likedPostsCellPostDetails {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  gap: 4px;
}

.likedPostsCellPostHeading {
  font-family: $defaultFontFamily;
}

.likedPostsCellPostPrice {
  font-family: $defaultFontFamily;
  font-weight: bold;
}

.likedPostsCellDislikeButton {
  position: absolute;
  right: 0;
  margin-top: 6%;
}
