.iconButton {
  border: none;
  background-color: transparent;
  outline: none;
  height: 3.5vh;
  width: 3.5vh;
  border-radius: 10px;
}

.iconButton:hover {
  cursor: pointer;
  background-color: rgb(225, 225, 225);
}

.iconDislikeButton {
  padding: 1vh;
  border: 2px solid rgb(12, 93, 128);
  background-color: rgb(171, 203, 217);
}

.iconDislikeButton:hover {
  cursor: pointer;
  background-color: rgb(62, 145, 181);
}
